@use 'variables.scss' as *;

@mixin flex {
    display: flex;
    justify-content: space-between;
}

@mixin button {
    padding: 16px 34px;
    border-radius: 40px;
}

@mixin text-title-thin {
    color: $text-color;
    text-transform: uppercase;
    font-weight: 300;
}

@mixin text-title-bold {
    color: $text-color;
    text-transform: uppercase;
    font-weight: 700;
}