@use 'variables.scss' as *;
@use 'reset.scss' as *;
@use 'fonts.scss' as *;
@use 'mixin.scss' as *;

body {
    background-color: $background-color;
}

.wrapper {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    margin: 25px 25px;

    @media (min-width: $breakpoint-lg) {
        margin: 50px 84px;
    }
}

.container {
    width: 100%;
    margin: 0 auto;

    @media (min-width: $breakpoint-sm) {
        width: 100%;
    }

    @media (min-width: $breakpoint-md) {
        max-width: 800px;
    }

    @media (min-width: $breakpoint-lg) {
        max-width: 1060px;
    }

    @media (min-width: $breakpoint-xl) {
        max-width: 1272px;
    }
}

/* header */
.header {
    color: $text-color;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    white-space: nowrap;
    margin-bottom: 124px;

    &__logo {
        justify-self: start;
        font-size: 36px;
        background: linear-gradient($icon-color, $gradient-color);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__menu {
       @include flex;
       justify-self: center;
       gap: 41px;
       display: none;
    }
    &__contacts {
        @include flex;
        justify-self: end;
        display: none;
    }
    @media (min-width: $breakpoint-sm) {
        grid-template-columns: 1fr 1fr;
        &__contacts {
            gap: 8px;
        }
    }
    @media (min-width: $breakpoint-md) {
        grid-template-columns: 1fr 2fr;
        &__contacts {
            justify-self: end;
            display: flex;
            gap: 12px;
        }
    }
    @media (min-width: $breakpoint-lg) {
        grid-template-columns: 1fr 3fr 2fr;
        &__menu {
            display: flex;
        }
        &__contacts {
            gap: 18px;
        }
    }
    @media (min-width: $breakpoint-xl) {
        grid-template-columns: 1fr 2fr 1fr;
        &__contacts {
            gap: 38px;
        }
    }
}

.contact-us-btn {
    @include button;
    border: 2px solid $text-color;
}

.join-us-btn {
    @include button;
    display: flex;
    align-self: center;
    background: linear-gradient(to left, $icon-color, $gradient-color);
    color: #343045;
}

.hero { 
    &__content {
        @include flex;
        align-items: center;
        color: $text-color;
        flex-direction: column-reverse;
        gap: 30px;
    }
    &__text {
        @include flex;
        flex-direction: column;
        max-width: 470px;
        width: 100%;
        font-size: 20px;
        line-height: 1.5;
    }
    &__title-span {
        background: linear-gradient($icon-color, $gradient-color);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__description {
        margin-top: 36px;
        font-size: 16px;
        line-height: auto;
        display: none;

    }
    &__button {
        @include button;
        border: none;
        background: linear-gradient(to left, $icon-color, $gradient-color);
        color: #343045;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        margin-top: 49px;
    }
    &__image {
        border-radius: 100px 100px 100px 240px;
        border: 14px solid rgba(0, 0, 0, 0.13);
        width: 100%;
    }
    &__contacts-wrapper {
        border-radius: 90px;
        background: radial-gradient(#3A3456, #211E2E);
        position: relative;
        overflow: hidden;
        width: 100%;
    }
    &__slider {
        margin-top: 53px;
    }
    &__contacts {
        @include flex;
        color: $text-color;
        width: 300%;
        transition: all 0.8s ease;
    }
    &__contact {
        @include flex;
        justify-content: center;
        padding: 21px 36px;
        white-space: nowrap;
        align-items: center;
        gap: 22px;
        width: 100%;
    }
    &__contact-text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 14px;
        height: 100%;
    }
    &__contact-title {
        display: none;
        font-weight: 700;
    }
    &__contact-subtitle {
            text-wrap: wrap;
        }

    @media (min-width: $breakpoint-sm) {
        font-size: 24px;
    }
    @media (min-width: $breakpoint-md) {
        font-size: 32px;
        &__content {
            gap: 10%;
            flex-direction: row;
        }
        &__description {
            display: block;
        }
        &__slider {
            margin-top: 88px;
        }
        &__contacts {
            padding: 46px 60px 48px 30px;
        }
        &__contact {
            display: flex;
            justify-content: center;
        }
        &__contact-title {
            display: block;
            font-size: 20px;
        }
        &__contact-subtitle {
            font-size: 14px;
            white-space: wrap;
        }
    }
    @media (min-width: $breakpoint-xl) {
        &__content {
            gap: 0;
        }
        &__text {
            font-size: 28px;
        }
        &__contacts {
            padding: 56px 80px 58px 39px;
        }
        &__contact-title {
            font-size: 24px;
        }
        &__contact-subtitle {
            font-size: 14px;
        }
    }
}

 /* slider */

.hero__slider {
  display: flex;
  align-items: center;
  max-width: 100%;
  gap: 16px;
  position: relative;
}

.hero__arrow {
    position: absolute;
}

.hero__arrow--next {
    right: 11px;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
}

.hero__arrow--prev {
    left: 11px;
    z-index: 1;
}

/* introdaction */

.introdaction {
    margin-top: 59px;
    &__content {
        @include flex;
        justify-content: center;
        align-items: center;
        color: $text-color;
    }
    &__title {
        display: flex;
        flex-direction: column;
        font-size: 26px;
    }
    &__title-main {
        font-weight: 700;
    }
    &__title-sub {
        font-weight: 300;
    }
    &__text {
        display: none;
    }

    @media (min-width: $breakpoint-sm) {

    }
    @media (min-width: $breakpoint-md) {
        margin-top: 70px;
        &__content {
            justify-content: space-between;
        }
        &__text {
            display: block;
            max-width: 450px;
        }   
    }
    @media (min-width: $breakpoint-lg) {
        &__text {
            display: block;
            max-width: 550px;
        }
    }
    @media (min-width: $breakpoint-xl) {
        margin-top: 90px;
        &__text {
            display: block;
            max-width: 650px;
        }
    }
    &__title {
        font-size: 36px;
    }
}

/* about */

.about {
    @include flex;
    flex-direction: column;
    align-items: center;
    gap: 51px;
    color: $text-color;
    margin-top: 36px;
    &__image {
        border-radius: 140px 60px;
        max-width: 336px;
        width: 100%;
    }
    &__text {
        font-size: 12px;
    }
    &__title {
        display: none;
    }
    &__title-main {
        font-weight: 700;
    }
    &__title-sub {
        font-weight: 300;
    }
    @media (min-width: $breakpoint-sm) {
        margin-top: 36px;
    }

    @media (min-width: $breakpoint-md) {
        flex-direction: row;
        margin-top: 80px;
        &__title {
            display: flex;
            flex-direction: column;
            font-size: 26px;
        }
        &__text {
            margin-top: 42px;
        }
    }

    @media (min-width: $breakpoint-lg) {
        
    }

    @media (min-width: $breakpoint-xl) {
        margin-top: 97px;
        &__image {
            border-radius: 240px 100px;
            max-width: 524px;
        }
        &__text {
            font-size: 16px;
        }
        &__title {
            font-size: 36px;
        }
    }
}

/* benefits */
.benefits {
    margin-top: 60px;
    &__section {
        margin-top: 26px;
        position: relative;
    }
    &__content {
        @include flex;
        justify-content: center;
    }
    &__title {
        font-size: 26px;
        color: $text-color;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
    }
    &__title-main {
        font-weight: 700;
    }
    &__title-sub {
        font-weight: 300;
    }
    &__text {
        display: none;
        font-size: 16px;
        color: $text-color;
    }
    /* benefits slider */
    &__slider {
        display: flex;
        justify-content: space-between;
        gap: 12px;
        width: calc(400% + 32px);
        /* margin-left: 6px; */
        transition: all 0.8s ease;
        align-items: stretch
    }
    &__slider-wrapper {
        position: relative;
        overflow: hidden;
    }
    &__arrow {
        position: absolute;
    }
    &__arrow--next {
        top: 50%;
        right: -15px;
        z-index: 3;
        transform: rotate(180deg);
    }
    &__arrow--prev {
        top: 50%;
        left: -15px;
        z-index: 4;
    }

    @media (min-width: $breakpoint-sm) {
        
    }

    @media (min-width: $breakpoint-md) {
        &__content {
            justify-content: space-between;
        }
        &__title {
            font-size: 36px;
        }
        &__text {
            display: block;
            max-width: 450px;
        }
    }

    @media (min-width: $breakpoint-lg) {
        &__slider {
            width: 200%;
        }
        &__text {
            max-width: 550px;
        }
    }

    @media (min-width: $breakpoint-xl) {
        margin-top: 111px;
        &__slider {
            width: 100%;
        }
        &__section {
            margin-top: 102px;
        }
        &__text {
            max-width: 650px;
        }
    }
}

/* benefits slider */
.card {
    border-radius: 40px;
    background: radial-gradient(#433D60, #211E2E);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 27px 37px 36px 33px;
    width: 100%;
    min-height: 511px;
    &__image {
        border-radius: 50%;
        border: 14px solid rgba(0, 0, 0, 0.13);
        max-width: 219px;
        max-height: 219px;
        height: 100%;
        width: 100%;
        margin-bottom: 21px;
    }
    &__title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 24px;
        color: $text-color;
        flex-grow: 1;
    }
    &__text {
        color: $text-color;
        text-align: justify;
        flex-grow: 1;
    }
    &__button {
        height: 38px;
        width: 100%;
    }

    @media (min-width: $breakpoint-xl) {
        padding: 27px 37px 36px 33px;
    }
}